<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<header id="global-header" layout:fragment="header">
		<h2>
			<a th:href="@{/}" class="top_title">SLOW FOOD</a>
		</h2>


		<div th:if="${#authorization.expression('isAuthenticated()')}"
			class="util">
			<a th:href="@{/}" class="totop">
				<button>トップへ</button>
			</a> <a th:href="@{/home}" class="tomypage">
				<button>マイページ</button>
			</a>
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="logout">ログアウト</button>
			</form>
		</div>
		<div th:unless="${#authorization.expression('isAuthenticated()')}"
			class="util">
			<a th:href="@{/signup/index}">
				<button>ユーザ登録</button>
			</a> <a th:href="@{/login}">
				<button>ログイン</button>
			</a>
		</div>
	</header>
</body>
</html>
