<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <body>
    <header
        id="global-header"
        layout:fragment="header">
      <header>
        <span
            th:if="${#authorization.expression('isAuthenticated()')}"
            th:text="|${#authentication.principal.username}さん|"
            >

        </span>

        <form
            th:if="${#authorization.expression('isAuthenticated()')}"
            th:action="@{/logout}"
            method="post">
          <button type="submit">ログアウト</button>
        </form>

        <a
            th:unless="${#authorization.expression('isAuthenticated()')}"
            th:href="@{/signup}">
          ユーザ登録
        </a>

      </header>
    </header>
  </body>
</html>
