<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>あなたのレシピを投稿しよう！</title>
<link th:href="@{/css/create.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div layout:fragment="content">
		<h2>レシピ登録</h2>

		<form th:action="@{/recipes/create}" method="post"
			th:object="${recipeForm}" class="recipe_form">
			<ul>
				<li th:each="error: ${#fields.detailedErrors()}"
					th:text="${error.message}">
			</ul>

			<span class="title">名前:</span> <input type="text" name="name"
				th:value="*{name}" class="form"><br /> <span class="title">詳細</span><br/>
			<textarea rows="10" cols="10" th:text="*{detail}" class="texterea"></textarea><br/>
			
			<span class="create_button">
				<button type="submit">登録</button>
			</span>
		</form>
	</div>

</body>
</html>