<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
  <title>Spring Boot recipe create Samples</title>
</head>
<body>
<div layout:fragment="content">
  <h1>登録成功！</h1>
  <h2>IDは<span th:text="${recipe_id}"></span>です</h2>
  <h2>nameは<span th:text="${name}"></span>です</h2>
  <h2>detailは<span th:text="${detail}"></span>です</h2>

</div>

</body>
</html>
