header {
	height: 70px;
	width: 100%;
	background: #1E90FF;
	margin-bottom: 30px;
	line-height: 70px;
	position: relative;
	/* box-sizing: border-box; */
}

.top_title {
	text-decoration: none;
	color: gray;
	font-size: 35px;
	text-shadow: 2px 2px yellow;
}

header h2 {
	margin : 0;
	margin-left: 1em;
	display: inline-block;
}

header form {
	display: inline-block;
}
.util {
	position: absolute;
	right: 1em;
	display: flex;
	display: inline-block;
}


footer {
	height: 50px;
	width: 100%;
	background: #1E90FF;
	line-height: 50px;
	display:flex;
	justify-content: space-evenly;
}

.copyright {
	color: silver;
}