<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
  <title>Spring Boot Security Samples</title>
</head>
<body>
<div layout:fragment="content">
  <h1>ログイン成功！</h1>
  <h2>あなたのログインIDは<span th:text="${name}"></span>です</h2>
  <!-- <div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/admin/users/list}">ユーザ一覧</a>
  </div> -->

</div>

</body>
</html>
