<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>レシピ一覧</title>

<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/modal.js}"></script>
<link th:href="@{/css/modal.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" />
</head>
<body>

	<div layout:fragment="content">
		<h2>投稿レシピ一覧</h2>
		<div class="recipes">



			<div th:each="recipe : ${recipes}" th:object="${recipe}"
				class="recipe">
				<div class="recipe_image">
					<img src="/images/noimage.png" width="250" height="210">
				</div>
				<div class="recipe_util">
					<div class="recipe_title">
						<span th:text="*{recipe_id}" class="recipe_id"></span> <span
							th:text="*{name}" class="recipe_name"></span>
					</div>
					<div class="modal_button">
						<button th:text="#{detail}" class="js-modal-open"
							th:data-id=*{recipe_id}>詳細</button>
					</div>
				</div>

				<!-- これはモーダル -->
				<div class="modal js-modal">
					<div class="modal__bg js-modal-close"></div>
					<div id="modal__content" class="clearfix">
						<div class="modal_image"></div>
						<div class="m_recipe_name"></div>
						<div class="m_recipe_detail"></div>
					</div>
				</div>
				<!-- ここまでモーダル -->

			</div>

		</div>
	</div>

</body>
</html>
