<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>レシピ一覧</title>


</head>

<body>

	<div layout:fragment="content">
		<h2>投稿レシピ一覧</h2>



		<div th:each="recipe : ${recipes}" th:object="${recipe}">
			<span th:text="*{recipe_id}"></span> <span th:text="*{name}"></span>
			<!--  のちにリンクorボタンにする -->
			<span>詳細</span>
		</div>


	</div>
</body>
</html>
