<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">

<head>
<title>Login</title>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div layout:fragment="content">

		<div class="login_error_message">
			<div th:if="${param.error}">ログインIDかパスワードが間違っています。</div>
		</div>

		<div class="logout_message">
			<div th:if="${param.logout}">ログアウトしました。</div>
		</div>

		<div class="loginform">
			<div class="loginform_head">ユーザーログイン</div>
			<form th:action="@{/login}" method="post">
				<label>ログインID: <input type="text" name="login_id"
					class="form idform" /><br />
				</label> 
				<label>パスワード : <input type="password" name="password"
					class="form passform" />
				</label>
				<div class="loginbutton">
					<input type="submit" value="ログイン" class="submitbutton"/>
				</div>
			</form>
		</div>

	</div>
	</div>
</body>
</html>
